<form class="formSignUp" action="/auth/signup" method="POST">
  <label>
    Username
    <input type="text" name="username" placeholder="Nombre de usuario" />
  </label>
  </label>
  <label>
    Password
    <input type="password" name="password" placeholder="******" />
  </label>
  <label>
    Email
    <input type="email" name="email" placeholder="rockstar@ironhack.com" />
  </label>
<label>
    CodeInvitation
    <input type="text" name="codeInvitation" placeholder="Código de invitación"/>
</label>
<label>
    Nivel
    <input type="text" name="nivel" placeholder="administrador"/>
</label>
  <button type="submit">Submit</button>
</form>