<div class="tituloIndexRutina">
<h1>Para personalizar tu rutina elige entre las diferentes opciones</h1>
</div>

<div class="allFormRutina">
<form action="/rutina" method="post" class="boxForm">
<h2>Cuál es tu nivel de experiencia</h2>
<div class="radio">
  <input class="radio__input" type="radio" value="Principiante" name ="myRadio" id="myRadio1">
  <label class="radio__label" for="myRadio1"> Principiante</label>
   <input class="radio__input" type="radio" value="Medio" name ="myRadio" id="myRadio2">
  <label class="radio__label" for="myRadio2">Medio</label>
   <input class="radio__input" type="radio" value="Avanzado" name ="myRadio" id="myRadio3">
  <label class="radio__label" for="myRadio3"> Avanzado</label>
</div>
<h2>Cuántos días a la semana quieres entrenar</h2>
<div class="radio">
  <input class="radio__input" type="radio" value="1" name ="myRadio3" id="myRadio4">
  <label class="radio__label" for="myRadio4"> 1</label>
   <input class="radio__input" type="radio" value="3" name ="myRadio3" id="myRadio5">
  <label class="radio__label" for="myRadio5">3</label>
   <input class="radio__input" type="radio" value="5" name ="myRadio3" id="myRadio6">
  <label class="radio__label" for="myRadio6"> 5</label>
</div>
<br>
<div class="d-grid gap-2 col-5">
<button type="submit" class="radio btn btn-danger  ">Ver rutina</button>
</div>
</form>
</div>