<div class="tituloPortada">
        <h1>Ponte en forma y consigue tus objetivos con IronFitness</h1>
</div>
        <div class="ironFitnessback">
        <img class="ironbackground" src="/images/ironfitness5.png">
        </div>
<div class="dividirPortada">
        <div class="opciones">
                <h4>¿Quieres una rutina personalizada?</h4>
                <div class="col text-center">
                <a class="btn btn-danger regular-button" href="/elegir-rutina"> Conseguir rutina </a>
                </div>	
        </div>
        <div class="">
                <h4>Consigue ideas para variar y mejorar tus entrenos</h4>
                <div class="col text-center">
                <a class="btn btn-danger regular-button" href="/elegirCategoria">  Ver ejercicios</a>
                </div>	
        </div>
</div>
