body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}



.formSignUp {
  margin-top: 20rem;
}

.radio {
  display: inline-flex;
  overflow: hidden;
  border-radius: 15px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  justify-content: center
}

.radio__input {
  display: none;
}

.radio__label {
  padding: 8px 14px;
  font-size: 14px;
  font-family: sans-serif;
  color: #ffffff;
  background: #009578;
  cursor: pointer;
  transition: background 0.1s;
}

.radio__label:not(:last-of-type) {
  border-right: 1px solid #006b56;
}

.radio__input:checked + .radio__label {
  background: #006b56;
}

.curl {
  width: 150px;
}

.general {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.cuerpo {
  position: absolute;
}

.muscle {
  z-index: 5000;
}

/* estilos ejercicio completo */

.imagenEjercicio {
  width: 20rem;
  height: auto;
}

.tituloEjercicio {
  font-weight: 600;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.subcategorias {
  font-weight: 600;
  font-size: 1.3rem;
  text-align: center;
  margin-bottom: 2rem;
}

.nomSubCateg {
  font-size: 1.1rem;
  text-align: center;
}

.subImagen{
        display:flex;
        justify-content:center;
}

.muscleImg{
position:absolute;

}

.musculoImgs{
display: flex;
    justify-content: center;
}

/* draw muscles */

.centrarBoton{
        margin-left: 4rem;
        margin-bottom: 1rem;
        margin-top: 1rem;
}

/* draw exercices muscles */



/* crear Ejercicio desde Admin */

select {
   -webkit-appearance:none;
   -moz-appearance:none;
   -ms-appearance:none;
   appearance:none;
   outline:0;
   box-shadow:none;
   border:0!important;
   background: #5c6664;
   background-image: none;
   flex: 1;
   padding: 0 .5em;
   color:#fff;
   cursor:pointer;
   font-size: 1em;
   font-family: 'Open Sans', sans-serif;
}
select::-ms-expand {
   display: none;
}
.select {
   position: relative;
   display: flex;
   width: 20em;
   height: 3em;
   line-height: 3;
   background: #5c6664;
   overflow: hidden;
   border-radius: .25em;
}
.select::after {
   content: '\25BC';
   position: absolute;
   top: 0;
   right: 0;
   padding: 0 1em;
   background: #2b2e2e;
   cursor:pointer;
   pointer-events:none;
   transition:.25s all ease;
}
.select:hover::after {
   color: #23b499;
}

.general{
display: flex;
}

.allSelects{
        display: flex;
        flex-direction: column;
        margin-bottom: 2rem;
}

.textCreate{
    margin-left: 32%;
    margin-right: 32%;
}

.allChoose{
        display: flex;
}

.botonCrear{
        align-items: center;
        margin-left: 42%;
        margin-top: 2rem;
}



.tituloPiernas{
        display: flex
}



/* INDEX BUENO */

.dividirPortada{
        display: flex;
        justify-content: center;
        height: 50vh;
        align-items: center;
}

.opciones{
        margin-right: 5rem;
}

.tituloPortada{
display: flex;
justify-content: center;
align-items: flex-end;
height: 30vh;
}

/* INDEX RUTINAS */

.tituloIndexRutina{
display: flex;
justify-content: center;
align-items: center;
height: 30vh;
}

.allFormRutina{
display: flex;
justify-content: center;
height: 50vh;
align-items: center;
}

.boxForm{
height: 50vh;
display: flex;
flex-direction: column;
justify-content: space-evenly;
align-items: center;
}

.opciones2{
margin-right: 2rem;
width: 33vw;
text-align: center;
}

.tituloPortadaEjercicio{
display: flex;
justify-content: center;
height: 14vh;
align-items: flex-end;
}

.dividirPortada2{
display: flex;
justify-content: center;
height: 30vh;
align-items: center;
}

.chooseEjer{
text-align: center;
}

.btnmargin{
margin-top: 1rem;
}

/* VISTA BUSQUEDA AVANZADA */

.busquedaAvanzada{
text-align: center;
margin-bottom: 3rem;
margin-top: 1rem;
}



.vistabusqueda{
margin-top: 2rem;
margin-bottom: 3rem;
}

.tituloBusqueda{
text-align: center;
margin-top: 3rem;
}


/* EQUIPMENT VISTA */

.equipmentAll{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
}

.muscleCard{
        margin: 3rem;
        justify-content: center;
}

.equiptext{
        text-align: center;
}

.imgcard{
        width: 10rem;
        height: 6rem;
}

.imgcard1{
        margin-top: 1rem;
        width: 10rem;
        height: 6rem;
}

.cardImg{
        width: 10rem;
        height: auto;
}

.imgcenter{
        align-items: center;
}

/* VISTA EJERCICIO EQUIPMENT */

.imgEjercicio{
        display: flex;
         justify-content: center;
         margin-bottom: 1rem;

}

/* CAMBIOS LAYOUT */

.linknav{
        margin-left: 40rem;
        margin-right: 2rem;
}

.linknav2{
        margin-right: 2rem;
}

.audioRocky{
        opacity: 0;
}

.audioRocky:hover{
        opacity: 1;
}

.navbar-nav{
        align-items: center;
}

.ironFitness{
width: 50px;
}

.ironbackground{
        position: absolute;
        opacity: 0.3;
        width: 40rem;
        margin-top: 23rem;
        margin-left: -2rem;
        z-index: -1;
}

/* VISTA RUTINA PRINCIPIANTE 1 DIA */

.rutinaAdapta{
        text-align: center;
        margin-top: 2rem;
}

.rutinaConsejo{
        text-align: center;
        margin-top: 4rem;
        margin-bottom: 2rem;
}

.allExerciseRutina{
        text-align: center;
}

.categoryRutina{
        font-weight: 600;
        margin-bottom: 1rem;
        margin-top: 1rem;
}

.allExerciseRutina{
        display: flex;
}

.bodyRutina{
        width: 30%;
}

.bodyImage{
        margin: 4rem
}