<div class="general">
{{#each exercise}}

<div class="muscleCard2">
  <div class="card" style="width: 18rem;">
    <div class="card-body">
    <h5 class="card-title">{{name}}</h5>
    <p class="card-text">{{{description}}}</p>
    <div class="col text-center">
    <a href="#" class="btn btn-primary">Añadir a favoritos</a>
    </div>
    </div>
  </div>
</div>

{{/each}}
</div>