<div class="equipmentAll">

<div class="muscleCard">
  <div class="card imgcenter" style="width: 18rem;">
<div class="cardImg">
  <img src="./images/barbellvector2.jpg" class="card-img-top  imgcard1" alt="...">
  </div>
    <div class="card-body">
    <h5 class="card-title equiptext">Barbell</h5>
    <form action="/equipment" method="post">
    <div class="col text-center">
        <button class="btn btn-danger regular-button" value="Barbell" name="Barbell"> Ver ejercicios</button>
    </div>
    </form>
    </div>
  </div>
</div>

<div class="muscleCard">
  <div class="card imgcenter" style="width: 18rem;">
  <img src="./images/bench.jfif" class="card-img-top imgcard1" alt="...">
    <div class="card-body">
    <h5 class="card-title equiptext">Bench</h5>
        <form action="/equipment" method="post">
    <div class="col text-center">
        <button class="btn btn-danger regular-button" value="Bench" name="Bench"> Ver ejercicios</button>
    </div>
    </form>
    </div>
  </div>
</div>

<div class="muscleCard">
  <div class="card imgcenter" style="width: 18rem;">
 <div class="cardImg">
  <img src="./images/dumbbellvector.jpg" class="card-img-top  imgcard1" alt="...">
  </div>
    <div class="card-body">
    <h5 class="card-title equiptext">Dumbbell</h5>
       <form action="/equipment" method="post">
    <div class="col text-center">
        <button class="btn btn-danger regular-button" value=3 name="id3"> Ver ejercicios</button>
    </div>
    </form>
    </div>
  </div>
</div>

<div class="muscleCard">
  <div class="card imgcenter" style="width: 18rem;">
  <div class="cardImg">
  <img src="./images/gymmatvector.jpg" class="card-img-top  imgcard1" alt="...">
  </div>
    <div class="card-body">
    <h5 class="card-title equiptext">Gym mat </h5>
       <form action="/equipment" method="post">
    <div class="col text-center">
        <button class="btn btn-danger regular-button" value=4 name="id4"> Ver ejercicios</button>
    </div>
    </form>
    </div>
  </div>
</div>

<div class="muscleCard">
  <div class="card imgcenter" style="width: 18rem;">
   <div class="cardImg">
  <img src="./images/incline-bench.jpg" class="card-img-top  imgcard1" alt="...">
  </div>
    <div class="card-body">
    <h5 class="card-title equiptext">Incline bench </h5>
       <form action="/equipment" method="post">
    <div class="col text-center">
        <button class="btn btn-danger regular-button" value=9 name="id9"> Ver ejercicios</button>
    </div>
    </form>
    </div>
  </div>
</div>

<div class="muscleCard">
  <div class="card imgcenter" style="width: 18rem;">
    <div class="cardImg">
  <img src="./images/kettlebellvector.jpg" class="card-img-top  imgcard1" alt="...">
  </div>
    <div class="card-body">
    <h5 class="card-title equiptext">Kettlebell</h5>
        <form action="/equipment" method="post">
    <div class="col text-center">
        <button class="btn btn-danger regular-button" value="Kettlebell" name="Kettlebell"> Ver ejercicios</button>
    </div>
    </form>
    </div>
  </div>
</div>

<div class="muscleCard">
  <div class="card imgcenter" style="width: 18rem;">
  <div class="cardImg">
  <img src="./images/man.jpg" class="card-img-top  imgcard1" alt="...">
  </div>
    <div class="card-body">
    <h5 class="card-title equiptext">Bodyweight exercise</h5>
        <form action="/equipment" method="post">
    <div class="col text-center">
        <button class="btn btn-danger regular-button" value= 7 name="id7"> Ver ejercicios</button>
    </div>
    </form>
    </div>
  </div>
</div>

<div class="muscleCard">
  <div class="card imgcenter" style="width: 18rem;">
   <div class="cardImg">
  <img src="./images/pullupbar.jpg" class="card-img-top  imgcard1" alt="...">
  </div>
    <div class="card-body">
    <h5 class="card-title equiptext">Pull-up bar</h5>
    <form action="/equipment" method="post">
    <div class="col text-center">
        <button class="btn btn-danger regular-button" value= 6 name="id6"> Ver ejercicios</button>
    </div>
    </form>
    </div>
  </div>
</div>

<div class="muscleCard">
  <div class="card imgcenter" style="width: 18rem;">
  <div class="cardImg">
  <img src="./images/swissball.jpg" class="card-img-top  imgcard1" alt="...">
  </div>
    <div class="card-body">
    <h5 class="card-title equiptext">Swiss Ball</h5>
    <form action="/equipment" method="post"></form>
        <div class="col text-center">
        <button class="btn btn-danger regular-button" value= 5 name="id5"> Ver ejercicios</button>
    </div>
    </form>
    </div>
  </div>
</div>

<div class="muscleCard">
  <div class="card imgcenter" style="width: 18rem;">
   <div class="cardImg">
  <img src="./images/szbarvector.jpg" class="card-img-top  imgcard1" alt="...">
  </div>
    <div class="card-body">
    <h5 class="card-title equiptext"> SZ-Bar</h5>
       <form action="/equipment" method="post">
    <div class="col text-center">
        <button class="btn btn-danger regular-button" value=2 name="id2"> Ver ejercicios</button>
    </div>
    </form>
    </div>
  </div>
</div>





</div>